.header {
    display: flex;
    grid-area: head;
    align-items: center;
    justify-content: space-between;
    background-color: $color-grey-light-1;

    &__logo {
        display: block;
        block-size: 4.6rem;
        margin-inline-start: 4rem;
    }
}

.search {
    display: flex;
    align-items: center;
    padding-inline-start: 3rem;
    background-color: hsl(0deg 0% 100%);
    border-radius: 10rem;
    transition: all 0.3s;

    &:focus-within {
        box-shadow: 0 0.7rem 3rem rgba($color-grey-dark-1, 0.08);
        transform: translateY(-2px);
    }

    &__field {
        inline-size: 30rem;
        font-family: inherit;
        font-size: 1.7rem;
        color: inherit;
        background: none;
        border: none;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $color-grey-light-3;
        }

        @media only screen and (max-width: $bp-medium) {
            inline-size: auto;

            &::placeholder {
                color: white;
            }
        }
    }

    &__btn {
        font-family: inherit;
        font-weight: 600;
    }
}

.nav {
    align-self: stretch;
    margin-inline-end: 2.5rem;

    &__list {
        display: flex;
        block-size: 100%;
        list-style: none;
    }

    &__item {
        position: relative;
    }

    &__btn {
        display: flex;
        align-items: center;
        block-size: 100%;
        padding-block: 0;
        padding-inline: 1.5rem;
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 700;
        color: inherit;
        text-transform: uppercase;
        cursor: pointer;
        background: none;
        border: none;
        transition: all 0.3s;

        svg {
            inline-size: 2.4rem;
            block-size: 2.4rem;
            margin-inline-end: 0.7rem;
            fill: $color-primary;
            transform: translateY(-1px);
        }

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: $color-grey-light-2;
        }
    }
}

.bookmarks {
    position: absolute;
    // right: 0;
    inset-inline-end: -2.5rem;
    z-index: 10;
    inline-size: 40rem;
    padding-block: 1rem;
    padding-inline: 0;
    visibility: hidden;
    background-color: hsl(0deg 0% 100%);
    box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.1);
    opacity: 0;
    transition: all 0.5s 0.2s;

    &__list {
        list-style: none;
    }

    &__field {
        display: flex;
        align-items: center;
        block-size: 100%;
        padding-block: 0;
        padding-inline: 4rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: $color-grey-light-2;
        }
    }

    &:hover,
    .nav__btn--bookmarks:hover + & {
        visibility: visible;
        opacity: 1;
    }
}
