* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-block-size: 100vh;
    font-family: system-ui;
    color: hsl(0deg 0% 33%);
    background-color: hsl(0deg 0% 97%);
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.countries {
    /* margin-bottom: 8rem; */
    display: flex;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1s;
}

.country {
    inline-size: 30rem;
    margin-block: 0;
    margin-inline: 3rem;
    font-size: 1.8rem;
    background-color: hsl(0deg 0% 100%);
    border-radius: 0.7rem;
    box-shadow: 0 2rem 5rem 1rem hsl(0deg 0% 0% / 10%);

    /* overflow: hidden; */
}

.neighbour::before {
    position: absolute;
    inset-block-start: -4rem;
    inline-size: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    color: hsl(0deg 0% 53%);
    text-align: center;
    text-transform: uppercase;
    content: "Neighbour country";
}

.neighbour {
    margin-inline-start: 0;
    transform: scale(0.8) translateY(1rem);
}

.country__img {
    inline-size: 30rem;
    block-size: 17rem;
    object-fit: cover;
    background-color: hsl(0deg 0% 93%);
    border-start-start-radius: 0.7rem;
    border-start-end-radius: 0.7rem;
}

.country__data {
    padding-block: 2.5rem 3rem;
    padding-inline: 3.75rem;
}

.country__name {
    margin-block-end: 0.7rem;
    font-size: 2.7rem;
}

.country__region {
    margin-block-end: 2.5rem;
    font-size: 1.4rem;
    color: hsl(0deg 0% 53%);
    text-transform: uppercase;
}

.country__row:not(:last-child) {
    margin-block-end: 1rem;
}

.country__row span {
    display: inline-block;
    margin-inline-end: 2rem;
    font-size: 2.4rem;
}

.btn-country {
    padding-block: 2rem;
    padding-inline: 5rem;
    font-size: 2rem;
    color: hsl(0deg 0% 100%);
    cursor: pointer;
    background-color: hsl(16deg 100% 50%);
    border: none;
    border-radius: 0.7rem;
}

.images {
    display: flex;
}

.images img {
    display: block;
    inline-size: 80rem;
    margin: 4rem;
}

.images img.parallel {
    inline-size: 40rem;
    margin: 2rem;
    border: 3rem solid hsl(0deg 0% 100%);
    box-shadow: 0 2rem 5rem 1rem hsl(0deg 0% 0% / 10%);
}
